:root {
  background-color: var(--tg-theme-bg-color, #ffffff);
  color: var(--tg-theme-text-color, #000000);
}

body {
  background: var(--tg-theme-bg-color, white);
  color: var(--tg-theme-text-color, #000000);
  padding: 0;
  margin: 0;
}

a {
  color: var(--tg-theme-link-color, #3390ec);
}

button {
  background: var(--tg-theme-button-color, #3390ec);
  color: var(--tg-theme-button-text-color, #ffffff);
}
